@import "../variables.scss";

.cat-block {
  position: relative;
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 150px auto 0;
  .cat-title {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px #fff3 solid;
    margin-bottom: 20px;
    padding-bottom: 5px;
    h2 {
      font-size: 2rem;
    }
    div {
      position: relative;
      display: flex;
      span {
        font-size: 2rem;
        &.show {
          position: absolute;
          right: 0;
          bottom: -5px;
          color: #FFF;
          transition: all .3s ease-in-out;
          &:hover {
            color: $red;
            transition: all .3s ease-in-out;
          }
        }
        &.plus {
          position: absolute;
          right: 30px;
          bottom: -2px;
          font-size: 1.5rem;
          transition: all .2s ease-in-out;
          a {
            color: #FFF;
            transition: all .2s ease-in-out;
            &:hover {
              color: $red;
              transition: all .5s ease-in-out;
            }
          }
          &:hover {
            transform: rotateZ(90deg);
            transition: all .5s ease-in-out;
          }
        }
      }
    }
  }

  .cat-content {
    display: none;
    .film {
      position: relative;
      height: 224px;
      img {
        width: 150px;
        height: 100%;
      }
      .film-hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 100%;
        background: #D81F26AA;
        opacity: 0;
        color: #FFFD;
        text-decoration: none;
        transition: all .4s ease-in-out;
        div {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          span {
            font-size: 2rem;
          }
          p {
            font-size: 1.4rem;
          }
        }
      }
      &:hover {
        .film-hover {
          opacity: 1;
          transition: all .4s ease-in-out;
        }
      }
    }
    .film:not(:first-child) {
      margin: 0 0 0 10px;
    }
    &.show {
      display: flex;
      justify-content: flex-start;
    }
  }
}

.film-block {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin: 105px auto 0;
  .form_film {
    display: flex;
    flex-direction: column;
    width: 100%;
    .title-poster {
      display: flex;
      align-items: center;
      img {
        width: 75px;
        margin-right: 20px;
      }
      .input_title-edit {
        position: relative;
        flex: 2;
        input {
          font-size: 2.5rem;
          width: calc(100% - 4px);
          border: 0;
          border-bottom: 2px gray solid;
          background: 0;
          color: #EEE;
          font-weight: 600;
        }
        button {
          position: absolute;
          right: 0;
          bottom: 2px;
          font-size: 2rem;
          border: 0;
          background: 0;
          color: #EEE9;
          transition: color .4s ease-in-out;
          &:hover {
            color: $red;
            transition: color .4s ease-in-out;
          }
        }
      }
    }
    .trailer-video {
      position: relative;
      margin: 25px 0 0;
      width: 100%;
      iframe {
        height: 400px;
      }
      input {
        font-size: 1.4rem;
        width: calc(100% - 4px);
        border: 0;
        border-bottom: 2px gray solid;
        background: 0;
        color: #EEE;
        font-weight: 600;
        margin: 0 0 15px;
      }
      button {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.4rem;
        border: 0;
        background: 0;
        color: #EEE9;
        transition: color .4s ease-in-out;
        &:hover {
          color: $red;
          transition: color .4s ease-in-out;
        }
      }
    }
    .synopsis {
      margin-top: 25px;
      textarea {
        height: 100px;
        width: calc(100%);
        background: none;
        color: #EEE;
        border-radius: 5px;
        font-family: $font;
        font-size: 1.3rem;
        border: 0;
        padding: 10px 0px;
        text-align: justify;
        border-bottom: 2px gray solid;
        &:focus {
          background-color: #333;
        }
      }
    }
    .poster-background {
      display: flex;
      margin-top: 25px;
      .poster, .background {
        .input_block {
          input {
            display: none;
          }
          label {
            display: block;
            width: calc(100% - 50px);
            margin: 0 auto;
            padding: 7px 0;
            background: #EEEE;
            color: #333;
            border-radius: 5px;
            text-align: center;
            transition: all .3s ease-in-out;
            cursor: pointer;
            &:hover {
              background-color: $red;
              color: #EEE;
              transition: all .3s ease-in-out;
            }
          }
          p {
            width: calc(100% - 70px);
            margin: 10px auto;
            border: 2px green solid;
            color: green;
            border-radius: 5px;
            padding: 10px 10px;
          }
        }
      }
      .poster {
        flex: 1;
        width: 100%;
        div {
          width: 100%;
          img {
            display: block;
            width: 250px;
            height: 373px;
            margin: 0 auto;
          }
        }
      }
      .background {
        flex: 2;
        width: 100%;
        div {
          img {
            display: block;
            width: 663px;
            height: 373px;
            margin: 0 auto;
          }
        }
      }
      @media screen and (max-width: 1150px) {
        .poster {
          div {
            img {
              width: 150px;
              height: 224px;
            }
          }
        }
        .background {
          div {
            img {
              width: 398px;
              height: 224px;
            }
          }
        }
      }
    }
    .submit {
      width: 100%;
      margin-top: 25px;
      input {
        padding: 10px 0;
        width: 100%;
        text-align: center;
        background-color: #EEE;
        color: #333;
        font-size: 1.3rem;
        border: 0;
        border-radius: 5px;
        font-weight: 600;
        transition: all .3s ease-in-out;
        &:hover {
          background-color: $red;
          color: #EEE;
          transition: all .3s ease-in-out;
        }
      }
    }
  }
}